body {
  margin: 2rem 7%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

main .card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid .card img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
  text-align: center;
}

/*hero */
.row {
  display: flex;
  align-items: center;
}
.row-label {
  padding: 1rem 7%;
}

.row-img img {
  width: 500px;
  object-fit: cover;
  object-position: center;
}
